@tailwind base;
@tailwind components;
@tailwind utilities;

/* QRCodeScanner style */
.corner-top-left {
    top: 0;
    left: 0;
    border-top-width: 4px;
    border-left-width: 4px;
    border-color: #076AFF;
}

.corner-top-right {
    top: 0;
    right: 0;
    border-top-width: 4px;
    border-right-width: 4px;
    border-color: #076AFF;
}

.corner-bottom-left {
    bottom: 0;
    left: 0;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-color: #076AFF;
}

.corner-bottom-right {
    bottom: 0;
    right: 0;
    border-bottom-width: 4px;
    border-right-width: 4px;
    border-color: #076AFF;
}